<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <servlet>
    <description></description>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>SignUpPackage.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>SignUpPackage.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexServelet</display-name>
    <servlet-name>indexServelet</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServelet</servlet-name>
    <url-pattern>/indexServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServelet</display-name>
    <servlet-name>IndexServelet</servlet-name>
    <servlet-class>SignUpPackage.IndexServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServelet</servlet-name>
    <url-pattern>/IndexServelet</url-pattern>
  </servlet-mapping>
</web-app>